.RouterWidth{
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: row;
    // 這邊怪怪的 table時好時壞
    @media (max-width:996px) {
        width: 100%;
        // flex-direction: row;
    }
}
.padding-RWD{
    padding: 0 1.25rem;
    @media (max-width:996px) {
        padding: 0 0.75rem;
    }
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-default{
    cursor: default !important;
}
.top-icon{
    // display: none;
    @media (max-width:996px) {
        z-index: 2028;
        display: block;
        position: absolute;
        right: 1%;
        bottom: 1%;
        font-size: 60px;
        opacity: 0.5;
        cursor: pointer;
    }

}