.modal {
  .h4 {
    @media (max-width: 576px) {
      font-size: 1rem;
    }
  }
  .modal-content {
    @media (max-width: 576px) {
      width: 100%;
      margin: 0 15px;
    }
  }
  .modal-body {
    font-size: medium;
    @media (max-width: 576px) {
      padding: 0 0.75rem;
    }
    .modal-body-head {
      justify-content: center;
      align-items: center;
      @media (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
      }
      // .d-flex{
      //     width: 100%;
      // }
    }
    .radio-custom {
      align-items: center;
      @media (max-width: 996px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .input-group {
        width: 75%;
        padding: 0 1rem;
        font-size: 1.5rem;
        @media (max-width: 996px) {
          width: 100%;
          padding: 0;
          font-size: 1rem;
        }
      }
      &.modalReadOnly {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        @media (max-width: 996px) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
  .modal-footer {
    @media (max-width: 996px) {
      padding: 0.25rem;
    }
    .btn {
      @media (max-width: 576px) {
        font-size: 1rem;
      }
    }
    .footer-button {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      @media (max-width: 996px) {
        width: 100%;
      }
      button {
        &.confirm {
          width: 75%;
          margin: 0 0.25rem 0 0;
          @media (max-width: 996px) {
            width: 100%;
          }
        }
        &.cancel {
          margin: 0 0 0 0.25rem;
          @media (max-width: 996px) {
            width: 100%;
          }
        }
      }
    }
  }
}
.footer-button {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  @media (max-width: 996px) {
    width: 100%;
  }
  button {
    &.confirm {
      width: 25%;
      margin: 0 0.25rem 0 0;
      @media (max-width: 996px) {
        width: 100%;
      }
    }
    &.cancel {
      margin: 0 0 0 0.25rem;
      width: 25%;
      @media (max-width: 996px) {
        width: 100%;
      }
    }
  }
}
.addRecord {
  width: 25%;
  @media (max-width: 996px) {
    width: auto;
  }
}
.departmentModal {
  .title {
    font-weight: 900;
    font-size: large;
    color: cadetblue;
    border-bottom: 1px gainsboro solid;
  }
  button {
    position: relative;
    margin: 0.5rem 0.5rem 0.5rem 0;
    // border-radius: 20px;
    .x-mark {
      font-size: large;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      border-radius: 50%;
    }
  }
}
@media (max-width: 576px) {
  .modal .modal-content {
    width: 100%;
    margin: 0;
  }
}
.computer-list {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  @media (max-width: 576px) {
    margin-top: 1rem;
  }
  .computer-item {
    padding: 15px;
    background-color: #d2b48c9a;
    // border: 1px solid rgba(255, 245, 238, 0.5);
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    @media (max-width: 576px) {
      flex-direction: column;
    }
    section {
      width: 50%;
      @media (max-width: 576px) {
        width: 100%;
        // display: flex;
        // flex-wrap: nowrap;
      }
      &.item-btn {
        text-align: end;
        @media (max-width: 576px) {
          text-align: start;
          margin-top: 1rem;
          display: flex;
          justify-content: space-around;
        }
        button {
          margin: 0 0.5rem;
          @media (max-width: 576px) {
            padding: 0;
            width: 40%;
            margin: 0;
          }
        }
      }
    }
    .item {
      display: flex;
      align-items: center;
    }
    .item-title {
      font-size: larger;
      font-weight: 900;
      color: darkslategray;
      min-width: 100px;
      @media (max-width: 576px) {
        font-size: 1rem;
        min-width: 70px;
        // padding-right: 1rem;
      }
    }
    .item-content {
      font-size: 1rem;
      color: rgb(52, 34, 11);
    }
  }
}
#remoteComputer-modal {
  .modal-body {
    padding: 15px;
    section {
      &.title {
        .w-25 {
          width: 100% !important;
        }
      }
      &.inform-his {
        margin: 1rem 0;
        @media (max-width: 576px) {
          margin: 0;
        }
      }
    }
    .footer-button {
      padding-right: 1.5rem;
      @media (max-width: 576px) {
        padding-right: 0rem;
      }
    }
  }
}
