.menu {
  display: none;
  @media (max-width: 996px) {
    display: block;
  }
}
.Navbar {
  width: 20%;
  overflow: hidden;
  transition: all 1s;
  background-color: hsl(210, 10%, 23%);
  @media (max-width: 996px) {
    z-index: 1000000;
    position: absolute;
    opacity: 1;
    left: -100%;
    background-color: hsl(210, 10%, 23%,0.8);
    width: calc(100% / 4 * 3 );
    // opacity: 0.8;
    min-width: 200px;
  }
}
.navbar-background {
    display: none;
    @media (max-width: 996px) {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:inherit;
        z-index: 2024;
      }

}
// .navbar-link {
//     background-color: rgba(0,0,0,0.8); 
//     /* 其他樣式設定 */
//   }
