.search {
  border: 2px solid gray;
  background-color: whitesmoke;
  border-radius: 10px;
  .search-clinicStatus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 996px) {
      width: 100%;
      flex-direction: column;
      &.column-reverse-rwd{
        flex-direction: column-reverse;
      }
    }
    
    label {
      min-width: 80px;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      .name {
        white-space: nowrap;
      }
      .bit {
        // padding-left: 15px;
        // padding-right: 15px;
        // padding: 0 5px;
        margin-right: 5px;
      }
      // text-align: center;
    }
    .clinicStatus,
    .visitorSelect,
    .departmentSelect {
      width: calc(50% - 15px);
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      margin-bottom: 0.5rem;
      @media (max-width: 996px) {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }
    .visitorSelect {
      width: 50%;
      @media (max-width: 996px) {
        // margin-bottom: 0.5rem;
        width: 100%;
      }
    }
  }
  .filter-department-zone {
    width: calc(50% - 15px);
    @media (max-width: 996px) {
      // margin-bottom: 0.5rem;
      width: 100%;
    }
    button {
      position: relative;
      margin: 0.5rem 1rem 0.5rem 0;
      // border-radius: 20px;
      .x-mark {
        font-size: large;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        border-radius: 50%;
      }
    }
  }
  .filter-reset-icon {
    color: #ee6991;
    cursor: pointer;
    &:hover {
      color: #ff004c;
    }
  }
  .filter-address {
    .district-sel {
      margin: 0;
    }
    .widthRWD {
      width: 50%;
      &.citySelect {
        width: calc(50% - 15px);
        @media (max-width: 996px) {
          width: 100%;
        }
      }

      @media (max-width: 996px) {
        width: 100%;
      }
    }
  }

  .input-group-textSearch {
    width: calc(50% - 15px);

    @media (max-width: 996px) {
      width: 100%;
    }
  }
}
