@import "./common";
@import "./navbar";
@import "./modal";
body {
  height: 100vh;
}

/* 在iOS Safari上，您需要使用下面的CSS規則 */
@media screen and (max-width: 996px) {
  body {
    height: calc(var(--vh, 1vh) * 100);
  }
}
@media (orientation: portrait) {
  /* 設備固定為直向模式 */
  body {
      transform: rotate(0deg);
  }
}
