// section{
//     &.approvedItem{
//         border-radius: 10px;
//         border: 2px solid goldenrod;
//         background-color: rgb(250 251 255 / 37%);
//         display: flex;
//         justify-content:space-between
//         // align-items: center;
//     }
// }
table {
    thead {
        &.wwqwqe {
            border-top-left-radius: 10px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 40px;
        }

        // border-radius: 30px;
    }
}

.list_btn {
    width: 100%;
}

.list-collapse {
    margin-top: 0.25rem;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 15px;
}