.radio-custom input[type='checkbox'] {
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 3px;

    -webkit-appearance: none;
    /*取消預設外觀*/
    background-color: #fff;

    position: relative;
}

.radio-custom input[type='checkbox']:checked {
    border: 1px solid #15aabf;
    background-color: #15aabf;
}

.radio-custom input[type='checkbox']:checked:after {
    /* content: " ✓"; */
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    line-height: 20px;
    position: absolute;
}

.radio-custom input[type='radio'] {
    /* width: 20px;
    height: 20px; */
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-appearance: none;
    /*取消預設外觀*/
    background-color: #fff;
    position: relative;
}

.radio-custom input[type='radio']:checked {
    background-image: none !important;
    border: 1px solid #15aabf;
    background-color: #15aabf;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .radio-custom input[type='radio']::after {
    content: '';
    width:8px;
    height: 3px;
    border: 2px solid white;
    border-top: transparent;
    border-right: transparent;
    text-align: center;
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    vertical-align: middle;
    transform: rotate(-45deg);
    border-radius: 0px;
    background: none;  
} */


/* .radio-custom input[type="radio"] {
    height: 35px;
    width: 35px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    float: left;
    display: inline-block;
    box-shadow: none;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-out;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    margin: 0;
    margin-top: 4px;
    margin-right: 10px;
} */

.radio-custom input[type='radio']:checked::after {
    background-image: none;
    /* display: none; */
    content: " ✓";
    /* font-size: 20px; */
    /* font-weight: 900; */
    color: #fff;
    /* line-height: 20px; */
    position: absolute;
}